<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-tasklist" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TaskList</name>
    <js-module name="TaskList" src="www/TaskList.js">
        <clobbers target="cordova.plugins.TaskList" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TaskList">
                <param name="android-package" value="com.cordova.plugins.tasklist.TaskList"/>
            </feature>
        </config-file>

        <source-file src="src/android/TaskList.java" target-dir="src/com/cordova/plugins/tasklist" />
    </platform>
</plugin>
